* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas1 {
  /* position: absolute; */
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  border: 1px solid black;
}
.hide_origin_cursor {
  cursor: none;
}
.flow-field {
  background: gray;
}
.controller {
  position: absolute;
  height: 30px;
}
input {
  width: 50px;
}
.flow-field-controller {
  display: none;
}
.water-color-controller {
  display: none;
}
