* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas1 {
  /* position: absolute; */
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  border: 1px solid black;

  /* background: black; */
  /* filter: blur(6px) contrast(10); */
}
.hide_origin_cursor {
  cursor: none;
}
.water-color-brush {
  /* background: black; */
  /* filter: blur(3px) contrast(10); */
}
.controller {
  position: absolute;
  height: 30px;
}
input {
  width: 50px;
}
